@import url(header.css);
@import url(content.css);
@import url(unit.css);
@import url(summary.css);

@font-face {
  font-family: Roboto;
  src: local('Roboto'), local('Roboto Regular'), local('Roboto-regular'),
      url('fonts/roboto-v30-cyrillic_latin-regular.woff'),
      url('fonts/roboto-v30-cyrillic_latin-regular.woff2');
  font-weight: 400;
  font-display: swap; 
}

@font-face {
  font-family: Roboto;
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('fonts/roboto-v30-cyrillic_latin-700.woff'),
      url('fonts/roboto-v30-cyrillic_latin-700.woff2');
  font-weight: 700;
  font-display: swap; 
}

@font-face {
  font-family: Roboto;
  src: local('Roboto Ultra Bold'), local('Roboto-Ultra Bold'), local('Roboto-Ultra-Bold'),
      url('fonts/roboto-v30-cyrillic_latin-900.woff'),
      url('fonts/roboto-v30-cyrillic_latin-900.woff2');
  font-weight: 900;
  font-display: swap; 
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p,
figure,
figcaption {
  margin: 0;
}

a {
    text-decoration: none;
  }

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #FFFFFF;
  color: #000000;
} 

section {
  padding: 25px 0;
}

.article {
  padding-top: 60px;
  padding-bottom: 25px;
  max-width: 1140px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
}

.container-wide {
  max-width: 1140px;
}




